<h1><%= @twitter_user.handle %>'s Latest Tweets:</h1>

<% if !@tweets.empty? %>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.text %> | <strong><%= tweet.posted %></strong>
  <% end %>
<% else %>
  <h3>Sorry, no tweets found!</h3>
<% end %>
